<div class="container">
    <div class="row">
        <select class="form-select" aria-label="Default select example" >
            <option value="" selected>Rental id</option>
            <option *ngFor="let rental of rentalList" 
[value]="rental.id" id="customerId">
{{rental.id}}
</option>
          </select>
    </div>
    <div class="row">
        <select class="form-select" aria-label="Default select example" >
            <option value="" selected>Item id</option>
            <option *ngFor="let item of itemList" 
[value]="item.id" id="customerId">
{{item.id}}

</option>
          </select>
    </div>
</div>
