<div class="container">
    <div class="row mt-4">
      <div class="col-2">
        <div class="row mt-3">
            <label for="" class="form-label mt-1">Rental Date</label>
            <input
            type="date"
            name=""
            class="form-control"
            [(ngModel)]="rentalObj.rentalDate"
          />
        </div>
        <div class="row mt-3">
            <label for="" class="form-label mt-1">Return&nbsp;Date</label>
            
            <input
            type="date"
            name=""
            class="form-control"
            [(ngModel)]="rentalObj.returnDate"

          />
        </div>
        <div class="row mt-3">
            <label for="" class="form-label mt-1">Due&nbsp;Date</label>
            
            <input
            type="date"
            name=""
            class="form-control"
            [(ngModel)]="rentalObj.dueDate"
          />
        </div>
        <div class="row mt-3">
            <label for="" class="form-label mt-1">Total Cost</label>
            
            <input
            type="number"
            name=""
            class="form-control"
            [(ngModel)]="rentalObj.totalCost"
          />
        </div>
        <div class="row mt-3">
            <label for="" class="form-label mt-1">Fine</label>
            
            <input
            type="number"
            name=""
            class="form-control"
            [(ngModel)]="rentalObj.fine"
          />
        </div>
        <div class="row mt-3" *ngIf="rentalObj.fine>=1 && rentalObj.totalCost>=1 &&
             rentalObj.dueDate!='' && rentalObj.rentalDate !='' && rentalObj.returnDate !=''">
          <button class="btn btn-success" (click)="addRental()" >
  Add Rental
          </button>
        </div>
      </div>
      
      <div class="col-10">
          <table class="table border">
              <tr class=" text-center bg-black text-white">
                  <th>ID</th>
                  <th>Rental Date</th>
                  <th>Return Date</th>
                  <th>Due Date</th>
                  <th>Total Cost</th>
                  <th>Fine</th>
                  <th>Update</th>
                  <th>Delete</th>
              </tr>
              <tr class="border text-center" *ngFor="let rental of rentalList; ">
                  <td>{{rental.id}}</td>
                  <td>{{rental.rentalDate}}</td>
                  <td>{{rental.returnDate}}</td>
                  <td>{{rental.dueDate}}
                  </td>
                  <td>{{rental.totalCost}}
                </td>
                <td>{{rental.fine}}
                </td>
                  <td><button class="btn btn-success" (click)="updateRental(rental)">update</button></td>
                  <td><button class="btn btn-danger" (click)="deleteRental(rental.id)">delete</button></td>
              </tr>
          </table>
      </div>
    </div>
  </div>
  