<div class="container">
    <div class="row mt-4">
      <div class="col-4">
        <div class="row mt-3">
            <label for="" class="form-label mt-1">Name</label>
            <input
            type="text"
            name=""
            class="form-control"
            placeholder="Enter Item Name"
            [(ngModel)]="itemObj.name"
          />
        </div>
        <div class="row mt-3">
            <label for="" class="form-label mt-1">Rental&nbsp;Per&nbsp;Day</label>
            
            <input
            type="number"
            name=""
            class="form-control"
            [(ngModel)]="itemObj.rentalPerDay"

          />
        </div>
        <div class="row mt-3">
            <label for="" class="form-label mt-1">Fine&nbsp;Per&nbsp;Day</label>
            
            <input
            type="number"
            name=""
            class="form-control"
            [(ngModel)]="itemObj.finePerDay"
          />
        </div>
        <div class="row mt-3">
            <label for="" class="form-label mt-1">Availability</label>
            
            <input
            type="text"
            name=""
            class="form-control"
            [(ngModel)]="itemObj.availability"
          />
        </div>
        <div class="row mt-3" *ngIf="itemObj.rentalPerDay>=1 && itemObj.finePerDay>=1 && itemObj.availability!='' && itemObj.name !=''">
          <button class="btn btn-success" (click)="addItem();" >
  Add Item
          </button>
        </div>
      </div>
      
      <div class="col-8">
          <table class="table border">
              <tr class="border text-center bg-black text-white">
                  <th>ID</th>
                  <th>Name</th>
                  <th>Availability</th>
                  <th>Rental Per Day</th>
                  
                  <th>Fine Per Day</th>
                  <th>Update</th>
                  <th>Delete</th>
              </tr>
              <tr class="border text-center" *ngFor="let items of itemList; ">
                  <td>{{items.id}}</td>
                  <td>{{items.name}}</td>
                  <td>{{items.availability}}</td>
                  <td>{{items.rentalPerDay}}
                  </td>
                  <td>{{items.finePerDay}}
                </td>
                  <td><button class="btn btn-success" (click)="updateItem(items)">update</button></td>
                  <td><button class="btn btn-danger" (click)="deleteItem(items.id)">delete</button></td>
              </tr>
          </table>
      </div>
    </div>
  </div>
  